In [1]:
import pandas as pd
import numpy as np

pd_data = pd.read_csv(
    'c:/source/ch12/vegeterianl_dataset.csv', delimiter=r"\s+")
pd_data.drop("ID",axis=1)

   STREAM     SLOPE  ELEVATION VEGETATION
0   False     steep       3900  chapparal
1    True  moderate        300   riparian
2    True     steep       1500   riparian
3   False     steep       1200  chapparal
4   False      flat       4450    conifer
5    True     steep       5000    conifer
6    True     steep       3000  chapparal

In [2]:
pd_data.sort_values("ELEVATION")

   ID  STREAM     SLOPE  ELEVATION VEGETATION
1   2    True  moderate        300   riparian
3   4   False     steep       1200  chapparal
2   3    True     steep       1500   riparian
6   7    True     steep       3000  chapparal
0   1   False     steep       3900  chapparal
4   5   False      flat       4450    conifer
5   6    True     steep       5000    conifer